In [1]:
import pandas as pd
import os
from tqdm import tqdm
DIR = '///mnt/c/Personal/Competitions/Zindi/Wadhwani AI/data/'
labels_dir_abw = '///mnt/c/Personal/Competitions/Zindi/Wadhwani AI/runs/yolov5l6_exp003/fold1/fold1_infer_1280_ABW_CONFTHRESH_634_IOUTHRESH_458/labels'
labels_dir_pbw = '///mnt/c/Personal/Competitions/Zindi/Wadhwani AI/runs/yolov5l6_exp003/fold1/fold1_infer_1280_PBW_CONFTHRESH_347_IOUTHRESH_372/labels'

submit = pd.read_csv(os.path.join(DIR,'SampleSubmission.csv'))
test_df = pd.read_csv(os.path.join(DIR,'Test.csv'))
mapping= {0: 'abw',1: 'pbw'}

In [2]:
out = dict()
for img_id in tqdm(list(test_df['image_id_worm'])):
    img = img_id.split('.')[0]
    out[f'{img}_abw'] = 0

    # read text file into pandas DataFrame
    try:
        df = pd.read_csv(f"{labels_dir_abw}/{img}.txt", sep=" ",header=None)
        df.rename(columns = {0:'labels'},inplace=True)
        out_temp = df['labels'].value_counts().to_dict()
        for k,v in out_temp.items():
            if k == 0:
                out[f'{img}_abw'] += out_temp[k]
    except:
        continue

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 2803/2803 [00:20<00:00, 135.14it/s]

In [3]:
for img_id in tqdm(list(test_df['image_id_worm'])):
    img = img_id.split('.')[0]
    out[f'{img}_pbw'] = 0

    # read text file into pandas DataFrame
    try:
        df = pd.read_csv(f"{labels_dir_pbw}/{img}.txt", sep=" ",header=None)
        df.rename(columns = {0:'labels'},inplace=True)
        out_temp = df['labels'].value_counts().to_dict()
        for k,v in out_temp.items():
            if k == 1:
                out[f'{img}_pbw'] += out_temp[k]                        
    except:
        continue

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 2803/2803 [00:24<00:00, 114.71it/s]

In [4]:
out_df = pd.DataFrame.from_dict(out,orient='index').reset_index()
out_df.rename(columns={'index':'image_id_worm',0:'number_of_worms'},inplace=True)

In [5]:
submit = pd.merge(submit[['image_id_worm']],out_df,on='image_id_worm',how='left')
submit.head()

                     image_id_worm  number_of_worms
0  id_00332970f80fa9a47a39516d_abw                4
1  id_00332970f80fa9a47a39516d_pbw                0
2  id_0035981bc3ae42eb5b57a317_abw                0
3  id_0035981bc3ae42eb5b57a317_pbw               20
4  id_005102f664b820f778291dee_abw                9

In [6]:
submit.to_csv('///mnt/c/Personal/Competitions/Zindi/Wadhwani AI/runs/yolov5l6_exp003/fold1/submit_both_separate.csv',index=False)

In [7]:
submit[submit['number_of_worms']>300]

                        image_id_worm  number_of_worms
345   id_0edb22ec8f2c24e4e9039fe1_pbw              392
361   id_0f469d41eb988ebabbb60a57_pbw              474
2739  id_7be486eecf08e7e18ee17600_pbw              414
4079  id_bbae805d96b9c65757dfed7f_pbw              397
4335  id_c726c53c9d2cb7341aa6846e_pbw              343
5037  id_e5a8f88ddd79e1a1d65e41c2_pbw              326

### Fin